body {
    position: relative;
    background: rgb(2, 2, 22);
    overflow: hidden;
}

main {
    text-align: center;
    width: 60vh;
    height: 35vh;
    background: rgba(255, 255, 255, 0.697);
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 25vh 0 0 -30vh;
    padding: 1vh;
}

h1{
    margin: 0 ;
    padding: 3vh 0 1vh 0;
}
.texttitle{
    height: 5vh;
    width: 20vw;
    font-size: 1.6em;
    text-align: center;
}
.textdata {
    height: 20vh;
    width: 20vw;
    font-size: 1.5em;
}
.button {
    display: inline-block;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    width: 50%;
    height: 5vh;
    padding: 4px 20px;
    background: #FF7E73;
    color: #ffffff;
    line-height: 1em;
    transition: .3s;
    border: 2px solid #FF7E73;
    border-radius: 50px;
}

.button:hover {
    color: #FF7E73;
    background: #ffffff;
}
h2{
    margin: 0;
}