* {
    margin: 0;
    padding: 0;
    --hover-clr: #6d6d6d;
}

body {
    overflow-x: hidden;
}



/* header------------------------------------------------------------------------------------------- */
header {
    height: 8vh;
    border-bottom: solid 1px black;
    display: flex;
    justify-content: space-between;
}

header p {
    line-height: 8vh;
    font-size: 7vh;
    margin-left: 2vw;
}

header p a {
    text-decoration: none;
    color: black;
}

.navArea {
    height: 5vh;
    display: flex;
    justify-content: space-between;
    padding: 0 2vw;
    margin-top: 1vh;

}

.nav {
    list-style: none;
    display: flex;
    margin-top: 1vh;
}

.nav li a {
    padding: 1em;
    text-decoration: none;
    font-size: 1.6em;
    color: black;
    transition: .3s;
}

.nav li a:hover {
    color: var(--hover-clr);
}
.seachText {
    height: 5vh;
    width: 15vw;
    box-sizing: border-box;
    letter-spacing: 1px;
    font-size: 1.3em;
    color: black;
    border: none;
    border-bottom: 2px solid #1b2538;
}

.seachText:focus {
    outline: none;
}

.search-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    border-radius: 3px;
}

.search-form {
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 3px;
}

.search-form input {
    padding: 5px 5px 5px 5px;
    box-sizing: border-box;
    outline: none;
}

.search-form input::placeholder {
    color: #767d83;
}

.search-form button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.search-form button::before {
    width: 20px;
    height: 20px;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%20%3Cpath%20d%3D%22M23.7%2020.8%2019%2016.1c-.2-.2-.5-.3-.8-.3h-.8c1.3-1.7%202-3.7%202-6C19.5%204.4%2015.1%200%209.7%200S0%204.4%200%209.7s4.4%209.7%209.7%209.7c2.3%200%204.3-.8%206-2v.8c0%20.3.1.6.3.8l4.7%204.7c.4.4%201.2.4%201.6%200l1.3-1.3c.5-.5.5-1.2.1-1.6zm-14-5.1c-3.3%200-6-2.7-6-6s2.7-6%206-6%206%202.7%206%206-2.6%206-6%206z%22%20fill%3D%22%23767d83%22%3E%3C%2Fpath%3E%20%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    content: '';
}

/* main------------------------------------------------------------------------------------------- */
.wrapper {
    display: flex;
    height: 85vh;
}

/* leftArea------------------------------------------------------------------------------------------- */

.leftArea {
    height: 85vh;
    width: 55vw;
    position: relative;
}

.leftArea p {
    height: 35vw;
    width: 35vw;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.leftArea p img {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

/* rightArea------------------------------------------------------------------------------------------- */

.rightArea {
    height: 85vh;
    width: 45vw;
    position: relative;
}

.rightArea .goodsDetail {
    height: 100%;
    width: 80%;
    margin: 0 20% 0 0;
}

.nameArea {
    position: relative;
    width: 75%;
    height: 7vh;
    margin: 10vh auto -.2em auto;
}

.goodsDetail h1 {
    position: absolute;
    bottom: 0;
    margin: 0;
    width: 100%;
    text-align: left;
    font-size: 2em;
    line-height: 1em;
}

.goodsDetail h2 {
    text-align: right;
    font-size: 1.75em;
    margin-right: 15%;
    margin-bottom: 3vh;
}

.goodsDetail .info {
    background: #D9D9D9;
    height: 35vh;
    width: 70%;
    margin: 0 auto;
    border-radius: 20px;
    padding: 1vh;
    overflow-y: scroll;
}

.nextArea {
    width: 60%;
    height: 8vh;
    margin: 0 auto;
    margin-top: 5vh;
}

.next {
    display: inline-block;
    text-decoration: none;
    font-size: 4vh;
    text-align: center;
    cursor: pointer;
    width: 100%;
    height: 8vh;
    background: #3400c9;
    color: #ffffff;
    line-height: 8vh;
    transition: .3s;
    border: 2px solid #3400c9;
    font-style: bold;
}

.next:hover {
    color: #3400c9;
    background: #ffffff;
}