* {
    margin: 0;
    padding: 0;
    --hover-clr: #6d6d6d;
}

body {
    overflow: hidden;
}


/* main------------------------------------------------------------------------------------------- */
main {
    height: 75vh;
    width: 80vw;
    margin: 0 auto;
    text-align: center;
}

p img {
    margin-top: 3vh;
    height: 50vh;
    width: 50vh;
    border: 1px solid black;
    background: white;
}

h1 {
    margin-top: 4vh;
}

p span {
    font-size: 1.5em;
    font-weight: bold;
}

.btnArea {
    display: flex;
    width: 60%;
    margin: 6vh auto 0 auto;
}

form {
    width: 40%;
    margin: 0 auto;
}

.button {
    display: inline-block;
    text-decoration: none;
    font-size: 4vh;
    text-align: center;
    cursor: pointer;
    width: 80%;
    height: 8vh;
    line-height: 8vh;
    transition: .3s;
    font-style: bold;
    border-radius: 50px;
}

.button:hover {
    color: #FF7E73;
    background: #ffffff;
}

.edit {
    background: #FF7E73;
    color: #ffffff;
    border: 2px solid #FF7E73;
}

.edit:hover {
    color: #FF7E73;
    background: #ffffff;
}

.del {
    background: red;
    color: #ffffff;
    border: 2px solid red;
}

.del:hover {
    color: red;
    background: #ffffff;
}