* {
    margin: 0;
    padding: 0;
    --hover-clr: #6d6d6d;
}

body {
    overflow: hidden;
}


/* main------------------------------------------------------------------------------------------- */

main {
    position: relative;
    text-align: center;
}

.wrapper {
    position: relative;
    margin: 0 auto;
    display: flex;
}

h1 {
    font-size: 5vh;
    margin-top: 12vh;
    width: 100%;
    transition: 1s;
}

.wrapper.active h1 {
    margin-top: 2vh;
}

.box {
    width: 25vw;
    margin: 0 auto;
    text-align: left;
}


label {
    font-size: 2.5vh;
}

/* first------------------------------------------------------------------------------------------- */

.first {
    position: absolute;
    width: 50vw;
    padding: 0 25vw;
    margin-top: 20vh;
    transition: 1s;
}

.first .textArea {
    width: 25vw;
    text-align: left;
    margin: 1em auto 0 auto;
    position: relative;
}

.first .textArea .textbox {
    width: 97%;
    height: 6vh;
    padding-left: 3%;
    font-size: 1.5em;
}

.text {
    text-align: center;
    font-size: 0.65em;
    line-height: 3em;
    font-weight: bold;
}



div label,
div p {
    font-size: 1.1em;
    font-weight: bold;
}

.cbox {
    transform: scale(2);
    margin: 0 6px 0 0;
}

div p a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.next {
    display: inline-block;
    text-decoration: none;
    font-size: 4vh;
    text-align: center;
    cursor: pointer;
    width: 100%;
    height: 8vh;
    background: #0050c99b;
    color: #ffffff;
    line-height: 8vh;
    transition: .3s;
    border: 2px solid #3400c9;
    font-style: bold;
    border-radius: 50px;
}

.next:hover {
    color: #0050c99b;
    background: #ffffff;
}

.button {
    display: inline-block;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    width: 100%;
    height: 8vh;
    padding: 8px 33px;
    background: #FF7E73;
    color: #ffffff;
    line-height: 1em;
    transition: .3s;
    border: 2px solid #FF7E73;
    margin-top: 5vh;
    border-radius: 50px;
}

.button:hover {
    color: #FF7E73;
    background: #ffffff;
}


.wrapper.active .first {
    left: -100vw;
}

.new {
    position: absolute;
    right: 0;
    transition: .3s;
}

.new:hover {
    color: var(--hover-clr);
}

.down {
    display: flex;
    justify-content: right;
    padding: 0 8em;
    margin-top: 3vh;
}

.down a {
    transition: .3s;
}

.down a:hover {
    color: var(--hover-clr);
}