* {
    margin: 0;
    padding: 0;
    --hover-clr: #6d6d6d;
}

body {
    overflow-x: hidden;
}


.nav .bellArea .bell {
    display: block;
    width: 5vh;
    padding: 0.1vh;

}

.bell img {
    width: 100%;
}

.nav {
    display: flex;
}

.nav .bellArea {
    border-radius: 0;
    border: none;

}

/* main------------------------------------------------------------------------------------------- */


.goodsGroup {
    display: flex;
    flex-wrap: wrap;
    width: 164vh;
    margin: 0 auto;
    margin-top: 3vh;
}

.goodsGroup .goods {
    list-style: none;
    height: 35vh;
    width: 35vh;
    margin: 3vh;
    overflow: hidden;
}

.goods {
    box-shadow: 0 0 10px black;
}

.goods .a {
    height: 100%;
    width: 100%;
}

.goods .image {
    height: 100%;
    width: 100%;
    position: relative;
}

.goods .image img {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.goods .image {
    position: relative;
}

.goods .price {
    z-index: 5;
    background: rgba(52.26, 0, 201.01, 0.76);
    width: 13vh;
    height: 5vh;
    position: absolute;
    bottom: 2%;
    right: 0;
    padding-right: .5em;
    text-align: right;
    line-height: 5vh;
    font-size: 2em;
    border-radius: 20px 0 0 20px;
    color: white;
    box-shadow: 0 0 10px black;
}

/* モーダルウィンドウ------------------------------------------------------------------------------------------- */

.hide-area {
    display: none;
}

.modaal-close:after,
.modaal-close:before {
    background: #ccc;
}

.modaal-close:focus:after,
.modaal-close:focus:before,
.modaal-close:hover:after,
.modaal-close:hover:before {
    background: #666;
}

