* {
    margin: 0;
    padding: 0;
    --hover-clr: #6d6d6d;
}

li {
    list-style: none;
}

body {
    overflow-x: hidden;
    position: relative;
}


.nav .bellArea .bell {
    display: block;
    width: 5vh;
    padding: 0.1vh;

}

.bell img {
    width: 100%;
}

.nav {
    display: flex;
}

.nav .bellArea {
    border-radius: 0;
    border: none;

}

/* main------------------------------------------------------------------------------------------- */
main {
    display: flex;
}

.goodsArea {
    width: 88vw;
    margin-left: 12vw;
}

.goodsGroup {
    display: flex;
    flex-wrap: wrap;
    width: 164vh;
    margin: 0 auto;
    margin-top: 3vh;
}

.goodsGroup .goods {
    list-style: none;
    height: 35vh;
    width: 35vh;
    margin: 3vh;
    overflow: hidden;
}

.goods {
    box-shadow: 0 0 10px black;
}

.goods .a {
    height: 100%;
    width: 100%;
}

.goods .image {
    height: 100%;
    width: 100%;
    position: relative;
}

.goods .image img {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: white;
}

.goods .image {
    position: relative;
}

.goods .price {
    z-index: 5;
    background: rgba(52.26, 0, 201.01, 0.76);
    width: 15vh;
    height: 5vh;
    position: absolute;
    bottom: 2%;
    right: 0;
    padding-right: .1em;
    text-align: right;
    line-height: 5vh;
    font-size: 20px;
    border-radius: 20px 0 0 20px;
    color: white;
    box-shadow: 0 0 10px black;
}

/* モーダルウィンドウ------------------------------------------------------------------------------------------- */

.hide-area {
    display: none;
}

.modaal-close:after,
.modaal-close:before {
    background: #ccc;
}

.modaal-close:focus:after,
.modaal-close:focus:before,
.modaal-close:hover:after,
.modaal-close:hover:before {
    background: #666;
}

/* -------------------------------- */
.category {
    z-index: 10;
    width: 12vw;
    height: 100vh;
    position: fixed;
}


.filter-list li {
    text-align: center;
    background: #eee;
    border: 2px solid #fff;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.filter-list li.is-active {
    background: #333;
    color: #fff;
}

/* Loading背景画面設定　*/
#splash {
    /*fixedで全面に固定*/
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: hsl(206.13deg 100% 68.04%);
    text-align: center;
    color: #fff;
}

/* Loading画像中央配置　*/
#splash_logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Loading アイコンの大きさ設定　*/
#splash_logo img {
    width: 260px;
}

/* fadeUpをするアイコンの動き */
.fadeUp {
    animation-name: fadeUpAnime;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeUpAnime {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}