<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理者ページ</title>
    <link rel="stylesheet" href="/static/css/adminUser.css">
    <link rel="icon" type="image/png" href="/static/images/material/logo.png">
</head>

<body>
    <main>
        <h1>商品情報</h1>
        <form action="/administrator" method="post" class="b1">
            <input type="submit" value="戻る" class="button">
        </form>
        <div class="listArea">
            <table border="1" style="width: 200vw;">
                <tr>
                    <th>ID</th>
                    <th>商品名</th>
                    <th>商品画像</th>
                    <th>値段</th>
                    <th>商品詳細</th>
                    <th>出品者</th>
                </tr>
                {% for rec in result %}
                <tr>
                    <td>{{rec.gid}}</td>
                    <td>{{rec.name}}</td>
                    <td><img src="/static/images/goods/{{rec.photo}}" alt="">{{rec.photo}}</td>
                    <td>{{rec.price}}</td>
                    <td>{{rec.info}}</td>
                    <td>{{rec.mail}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </main>
</body>