<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理者ページ</title>
    <link rel="stylesheet" href="/static/css/admin.css">
    <link rel="icon" type="image/png" href="/static/images/material/logo.png">
</head>

<body>
    <div class="mainBox" style="height: 50vh;margin: 25vh 0 0 -30vh;">
        <h1>管理者ページ</h1>
        <form action="/adminUser" method="get">
            <input type="submit" value="会員情報" class="button">
        </form>
        <form action="/adminGoods" method="get">
            <input type="submit" value="商品情報" class="button">
        </form>
        <form action="/adminNews" method="get">
            <input type="submit" value="お知らせ" class="button">
        </form>
    </div>

</body>

</html>