<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理者ページ</title>
    <link rel="stylesheet" href="/static/css/admin.css">
    <link rel="icon" type="image/png" href="/static/images/material/logo.png">
</head>

<body>
    <div class="mainBox" style="height: 25vh;margin: 30vh 0 0 -30vh;">
        <h1>ログイン完了</h1>
        <form action="/administrator" method="post">
            <input type="submit" value="各種操作ページへ" class="button">
        </form>
    </div>

</body>

</html>