<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>チャット開始</title>
    <link rel="stylesheet" href="/static/css/profileUpComplete.css">
    <link rel="stylesheet" href="/static/css/nav.css">
    <link rel="icon" type="image/png" href="/static/images/material/logo.png">
</head>

<body>
    <header>
        <p><a href="http://localhost:5000">FurNiture</a></p>
    </header>

    <main>
        <h1>チャットを開始します</h1>
        <form action="/chat/{{gid}}" method="get">
            <input type="submit" value="はい" class="button">
        </form>
    </main>
</body>

</html>