<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>確認メール送信</title>
    <link rel="stylesheet" href="/static/css/checkMail.css">
    <link rel="stylesheet" href="/static/css/nav.css">
</head>

<body>
    <header>
        <p><a href="http://localhost:5000">FurNiture</a></p>
    </header>
    <main>
        <h1>まだ登録は完了していません</h1>
        <p>{{result.mail}}に確認メールを送りました</p>
    </main>
</body>

</html>