<!DOCTYPE html>
<html lang="jp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登録内容確認</title>
    <link rel="stylesheet" href="/static/css/check.css">
    <link rel="stylesheet" href="/static/css/nav.css">
    <link rel="icon" type="image/png" href="/static/images/material/logo.png">
</head>

<body>
    <header>
        <p><a href="http://localhost:5000">FurNiture</a></p>
    </header>
    <main>
        <h1>以下の内容で登録します</h1>
        <table border="1">
            <tr>
                <th class="itemName">メールアドレス:</th>
                <td class="item">{{result["mail"]}}</td>
            </tr>

            <tr>
                <th class="itemName">ニックネーム:</th>
                <td class="item">{{result["nick"]}}</td>
            </tr>

            <tr>
                <th class="itemName">氏名:</th>
                <td class="item">{{result["sei"]}} {{result["mei"]}}</td>
            </tr>

            <tr>
                <th class="itemName">シメイ:</th>
                <td class="item">{{result["sei2"]}} {{result["mei2"]}}</td>
            </tr>

            <tr>
                <th class="itemName">性別:</th>
                <td class="item">{{result["sex"]}}</td>
            </tr>

            <tr>
                <th class="itemName">郵便番号:</th>
                <td class="item">{{result["post"]}}</td>
            </tr>

            <tr>
                <th class="itemName">都道府県:</th>
                <td class="item">{{result["pref"]}}</td>
            </tr>

            <tr>
                <th class="itemName">住所:</th>
                <td class="item">{{result["addr"]}}</td>
            </tr>

            <tr>
                <th class="itemName">番地:</th>
                <td class="item">{{result["home"]}}</td>
            </tr>

            <tr>
                <th class="itemName">建物名:</th>
                <td class="item">{{result["bname"]}}</td>
            </tr>

            <tr>
                <th class="itemName">お知らせを受け取る:</th>
                <td class="item">{{result["news"]}}</td>
            </tr>
        </table>
        <div class="btnArea">
            <form action="/checkMail" method="post">
                <input type="submit" value="登録" class="button">
            </form>
            <form action="/MRegister">
                <input type="submit" value="修正" class="button2">
            </form>
        </div>
    </main>
</body>

</html>