<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>コード発行履歴</title>
    <link rel="stylesheet" href="/static/css/navLogin.css">
    <link rel="stylesheet" href="/static/css/codeList.css">
    <link rel="icon" type="image/png" href="/static/images/material/logo.png">
</head>

<body>
    <header>
        <p><a href="http://localhost:5000">FurNiture</a></p>
    </header>
    <h1>コード発行履歴</h1>
    <div class="listArea">
        <table border="1">
            <tr>
                <th style="width: 30%;">コード</th>
                <th style="width: 20%;">価格</th>
                <th style="width: 10%;">使用可否</th>
                <th style="width: 20%;">発行日</th>
                <th style="width: 20%;">使用日</th>
            </tr>
            {% for rec in result %}
            <tr>
                <td>{{rec.code}}</td>
                <td>{{money}}</td>
                <td>{{rec.usable}}</td>
                <td>{{rec.issueday}}</td>
                <td>{{rec.useday}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>

</html>