<!DOCTYPE html>
<html lang="jp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品登録内容確認</title>
    <link rel="stylesheet" href="/static/css/GRegisterCheck.css">
    <link rel="stylesheet" href="/static/css/navLogin.css">
    <link rel="icon" type="image/png" href="/static/images/material/logo.png">
</head>

<body>
    <header>
        <p><a href="http://localhost:5000">FurNiture</a></p>
    </header>
    <main>
        <h1>以下の内容で登録します</h1>
        <table border="1">
            <tr>
                <th class="itemName">商品名</th>
                <td class="item">{{result["name"]}}</td>
            </tr>

            <tr>
                <th class="itemName">商品画像</th>
                <td class="item"><img src="/static/images/goods/{{images}}" alt=""></td>
            </tr>

            <tr>
                <th class="itemName">値段</th>
                <td class="item">{{result["price"]}}</td>
            </tr>

            <tr>
                <th class="itemName">カテゴリー</th>
                <td class="item">{{cate}}</td>
            </tr>

            <tr>
                <th class="itemName">商品説明</th>
                <td class="item">{{result["info"]}}</td>
            </tr>
            

        </table>
        <div class="btnArea">
            <form action="/GRegisterComplete" method="post">
                <input type="submit" value="登録" class="button">
            </form>
            <form action="/GRegister">
                <input type="submit" value="修正" class="button2">
            </form>
        </div>
    </main>
</body>

</html>