<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品登録</title>
    <link rel="stylesheet" href="/static/css/GRegister.css">
    <link rel="stylesheet" href="/static/css/navLogin.css">
</head>

<body>
    <header>
        <p><a href="http://localhost:5000">FurNiture</a></p>
    </header>

    <form action="/GRegisterCheck" class="wrapper" method="post" enctype="multipart/form-data">
        <h1>商品登録</h1>
        <div class="first">
            <p class="textArea">
                <label>商品名</label>
                <input type="text" name="name" class="textbox" maxlength="50" value="{{result.name}}">
            </p>
            <p class="textArea">
                <label>商品画像</label><br>
                <input type="file" name="file">
            <p class="textArea">
                <label>値段</label>
                <input type="number" name="price" class="textbox" maxlength="8" value="{{result.price}}">
            </p>
            <p class="textArea">
                <label>商品説明</label><br>
                <textarea name="info" class="textbox pro" maxlength="200">{{result.info}}</textarea>
            <p class="box">
                <input type="submit" value="確認" class="button">
            </p>
        </div>
    </form>
</body>

</html>