<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品登録</title>
    <link rel="stylesheet" href="/static/css/GRegister.css">
    <link rel="stylesheet" href="/static/css/navLogin.css">
</head>

<body>
    <header>
        <p><a href="http://localhost:5000">FurNiture</a></p>
        <div class="nav">
            <p><a href="http://localhost:5000/user"><img src="/static/images/{{res.icon}}" alt=""></a></p>
        </div>
    </header>
</body>

</html>