<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>購入履歴</title>
    <link rel="stylesheet" href="/static/css/navLogin.css">
    <link rel="stylesheet" href="/static/css/history.css">
    <link rel="icon" type="image/png" href="/static/images/material/logo.png">
</head>

<body>
    <header>
        <p><a href="http://localhost:5000">FurNiture</a></p>
    </header>
    <h1>購入履歴</h1>
    <div class="listArea">
        <table border="1">
            <tr>
                <th style="width: 10%;">商品画像</th>
                <th style="width: 20%;">商品名</th>
                <th style="width: 10%;">価格</th>
                <th style="width: 10%;">購入日</th>
                <th style="width: 10%;">チャット</th>
            </tr>
            {% for rec in result %}
            <tr>
                <td><img src="/static/images/goods/{{rec.photo}}" alt=""></td>
                <td>{{rec.name}}</td>
                <td>{{price}}円</td>
                <td>{{rec.purchaseday}}</td>
                <td>
                    <form action="/chat/{{rec.gid}}">
                        <input type="submit" value="チャット">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>

</html>