<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FurNiture</title>
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/Modaal/0.4.4/css/modaal.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
    <link rel="stylesheet" href="/static/css/nav.css">
    <link rel="stylesheet" href="../static/css/top.css">
    <link rel="icon" type="image/png" href="/static/images/material/logo.png">
</head>

<body>

    <div id="splash">
        <div id="splash_logo"><img src="/static/images/material/logo2.png" alt="" class="fadeUp"></div>
    </div>

    <header>
        <p><a href="http://localhost:5000">FurNiture</a></p>
        <div class="navArea">
            <div>
                <form action="#" class="search-form">
                    <button type="submit" aria-label="検索"></button>
                    <label>
                        <input type="text" id="seach" class="seachText" placeholder="キーワードを入力">
                    </label>
                </form>
            </div>
            <ul class="nav info-list">
                <li class="bellArea"><a href="http://localhost:5000/news" class="iframe-open bell"><img
                            src="/static/images/material/bell.png" alt=""></a>
                </li>
                <li><a href="http://localhost:5000/login">ログイン</a></li>
            </ul>
        </div>
    </header>
    <ul class="slider">
        <li><img src="/static/images/material/header/header_furniture.jpg" alt=""></li>
        <li><img src="/static/images/material/header/header_sale.jpg" alt=""></li>
        <li><img src="/static/images/material/header/header_christmas.jpg" alt=""></li>
        <li><a href="https://masaru.smartlp.site/"><img src="/static/images/material/header/header_masarudou.jpg"
                    alt=""></a></li>
        <!--/slider-->
    </ul>
    <main>
        <div class="category">
            <ul class="filter-list">
                <li data-filter="all" class="is-active"><span>すべて</span></li>
                <li data-filter="table"><span>机</span></li>
                <li data-filter="chair"><span>椅子</span></li>
                <li data-filter="tools"><span>工具</span></li>
                <li data-filter="material"><span>素材</span></li>
                <li data-filter="other"><span>その他</span></li>
            </ul>
        </div>
        <div class="goodsArea">
            <ul class="goodsGroup filter-item">
                {% for rec in result %}
                <li class="goods target" data-item="{{rec['category']}}">
                    <a href="http://localhost:5000/detail/{{ rec['gid']}}">
                        <div class="image">
                            <img src="/static/images/goods/{{rec['photo']}}" alt="">
                            <p class="price">¥{{ rec["price"]}}</p>
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </main>

    <script src="/static/js/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Modaal/0.4.4/js/modaal.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vivus/0.4.4/vivus.min.js"></script>
    <script src="/static/js/top.js"></script>
    <script src="/static/js/topLogin.js"></script>



</body>

</html>