<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FurNiture</title>
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/Modaal/0.4.4/css/modaal.min.css">
    <link rel="stylesheet" href="../static/css/navLogin.css">
    <link rel="stylesheet" href="../static/css/topLogin.css">
</head>

<body>
    <header>
        <p><a href="http://localhost:5000">FurNiture</a></p>
        <div class="navArea">
            <div>
                <form action="#" class="search-form">
                    <button type="submit" aria-label="検索"></button>
                    <label>
                        <input type="text" id="seach" class="seachText" placeholder="キーワードを入力">
                    </label>
                </form>
            </div>
            <div class="nav info-list">
                <p class="bellArea"><a href="http://localhost:5000/news" class="iframe-open bell"><img
                            src="/static/images/material/bell.png" alt=""></a>
                </p>
                <p><a href="http://localhost:5000/user"><img src="/static/images/icon/{{res.icon}}" alt=""></a></p>
            </div>
        </div>
    </header>

    <main>
        <div class="goodsArea">
            <ul class="goodsGroup">
                {% for rec in result %}
                <li class="goods">
                    <a href="http://localhost:5000/detail/{{ rec['gid']}}">
                        <div class="image">
                            <img src="/static/images/goods/{{rec['photo']}}" alt="">
                            <p class="price">{{ rec["price"]}}</p>
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </main>
    <script src="/static/js/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Modaal/0.4.4/js/modaal.min.js"></script>
    <script src="/static/js/topLogin.js"></script>

</body>

</html>