<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=], initial-scale=1.0">
    <title>{{res.nickname}}のマイページ</title>
    <link rel="stylesheet" href="/static/css/navLogin.css">
    <link rel="stylesheet" href="../static/css/user.css">

    <link rel="icon" type="image/png" href="/static/images/material/logo.png">
</head>

<body>
    <header>
        <p><a href="http://localhost:5000">FurNiture</a></p>
        <form action="/logout" method="post" class="logoutArea">
            <input type="submit" value="ログアウト" class="logoutBtn">
        </form>
    </header>
    <main>
        <div class="user">
            <div class="left">
                <p class="imgArea"><img src="/static/images/icon/{{res.icon}}" alt=""></p>
                <div class="userDetail">
                    <h1>{{res.nickname}}</h1>
                    <p>{{res.profile}}</p>
                </div>
            </div>
            <div class="right">
                
                <a class="button" href="http://localhost:5000/profileUp">プロフィール編集</a>
                <a class="button" href="http://localhost:5000/GRegister">出品する</a>
            </div>
        </div>
        <ul class="btnArea">
            <li><a href="">10<span>出品</span></a></li>
            <li><a href="">23<span>フォロー</span></a></li>
            <li><a href="">7<span>フォロワー</span></a></li>
        </ul>
        <div class="goodsArea">
            <ul class="goodsGroup">
                {% for rec in result %}
                <li class="goods">
                    <a href="http://localhost:5000/detail/{{ rec['gid']}}">
                        <div class="image">
                            <img src="/static/images/goods/{{rec['photo']}}" alt="">
                            <p class="price">¥{{ rec["price"]}}</p>
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </main>
</body>

</html>