<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{res.nickname}}のマイページ</title>
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/Modaal/0.4.4/css/modaal.min.css">
    <link rel="stylesheet" href="/static/css/navLogin.css">
    <link rel="stylesheet" href="../static/css/user.css">
    <link rel="icon" type="image/png" href="/static/images/material/logo.png">
</head>

<body>
    <header>
        <p><a href="http://localhost:5000">FurNiture</a></p>
        <a class="button" href="http://localhost:5000/profileUp">プロフィール編集</a>
        <form action="/logout" method="post" class="logoutArea">
            <input type="submit" value="ログアウト" class="logoutBtn">
        </form>
    </header>
    <div class="Gregister">
        <a class="button" href="http://localhost:5000/GRegister">出品</a>
    </div>
    <main>
        <div class="user">
            <div class="left">
                <p class="imgArea"><img src="/static/images/icon/{{res.icon}}" alt=""></p>
                <div class="userDetail">
                    <h1>{{res.nickname}}</h1>
                    <p>{{res.profile}}</p>
                </div>
            </div>
            <div class="right">
                <div class="moneyArea">
                    <p>残高：<span>{{money}}</span>円</p>
                    <a class="button iframe-open" href="http://localhost:5000/codeList">発行履歴</a>

                </div>
                <div class="doubleBtn">
                    <a class="button" href="http://localhost:5000/payment">コード使用</a>
                    <a class="button" href="http://localhost:5000/giftcode">コード発行</a>
                </div>
                <div class="doubleBtn">
                    <a class="button" href="http://localhost:5000/favoriteList">お気に入り</a>
                    <a class="button iframe-open" href="http://localhost:5000/history">購入履歴</a>
                </div>
            </div>
        </div>

        <ul class="btnArea">
            <li><a href="">{{count}}<span>出品</span></a></li>
            <li><a href="">23<span>フォロー</span></a></li>
            <li><a href="">7<span>フォロワー</span></a></li>
        </ul>
        <div class="goodsArea">
            <ul class="goodsGroup">
                {% for rec in result %}
                <li class="goods">
                    <a href="http://localhost:5000/detail/{{ rec['gid']}}">
                        <div class="image">
                            <img src="/static/images/goods/{{ rec['photo']}}" alt="">
                            <p class="price">¥{{ rec["price"]}}</p>
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </main>
    <script src="/static/js/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Modaal/0.4.4/js/modaal.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vivus/0.4.4/vivus.min.js"></script>
    <script src="/static/js/topLogin.js"></script>
</body>

</html>